.component-ti-0 {
  color: inherit;
  font-family: HarabaraB;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: inherit;
}
.component-ti-1 {
  color: inherit;
  font-weight: 700;
  font-family: HarabaraB;
  font-size: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-align: inherit;
}
.component-ti-2 {
  font-weight: 700;
  font-family: HarabaraB;
  color: inherit;
  font-size: 36px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: inherit;
}
.component-ti-3 {
  font-weight: 700;
  font-family: HarabaraB;
  color: inherit;
  font-size: 44px;
  letter-spacing: 2.65px;
  text-transform: uppercase;
  text-align: inherit;
}
