@media screen and (max-width: 1440px) {
  /* CONTENT */
  .team-head-content__group {
    column-gap: 50px;
  }
}
@media screen and (max-width: 1180px) {
}
@media screen and (max-width: 950px) {
}
@media screen and (max-width: 800px) {
  /* CONTENT */
  .team-head-content__group {
    row-gap: 30px;
  }
  .team-head-content__item {
    max-width: 450px;
  }
  .team-head__content-item--img {
    max-height: 300px;
  }
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 480px) {
  /* CONTENT */
  .team-head-content__item {
    max-width: 320px;
  }
}
@media screen and (max-width: 360px) {
}
